---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
import Music from '../components/Music.astro';
import Tour from '../components/Tour.astro';
import Contact from '../components/Contact.astro';
---

<Layout title="Morpheus Veil | Alternative Rock & Electronic">
  <Navbar />
  <main>
    <Hero />
    <About />
    <Music />
    <Tour />
    <Contact />
  </main>
</Layout>
